*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
.outer{
    border: 2px solid black;
    height: 700px;
    width: 700px;
    float: center;
    align-content: center;
}
.profile{
    border: 2px solid black;
    float: left;
    margin-top: 40px;
    margin-left: 40px;
    border-radius: 50%;
    height: 100px;
    width: 100px;
}
.details{
    
    float: left;
    /* width: 100%; */
    margin-top:40px ;
    margin-left: 40px;

}

.htttp{float: left;
    height: 100px;
    width: 100%;


}
.rep{
    margin-left: 20px;
    margin-top: 30px;
    height: 100px;
    width: 200px;
    border: 1px solid rgb(20, 26, 44);
    box-shadow: 0px 2px 3px 5px rgb(126, 128, 126) ;
}

.image{
    background-color: #96999a;
    border: 2px solid rgb(231, 184, 184);
    float: left;
    margin-top: 3px;
    margin-left: 3px;
    border-radius: 50%;
    height: 90px;
    width: 90px;

}

.btt{
  margin-top: 20px;
}


.page{
  float: center;
}



  @import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
  font-family: 'Inter', sans-serif;
  line-height: 1.7;
  font-size: 1.1rem;
  margin: 0;
  color: #27253d;
  background: #e6f3f8;
}

main {
  position: relative;
  padding: 1rem 1rem 3rem;
  min-height: calc(100vh - 4rem);
}

h1 {
  margin-top: 0;
}

.hidden {
  display: none;
}

.pagination-container {
  width:100%;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0px;
  left: 395px;
  padding: 1rem 0;
  justify-content: center;
}

.pagination-number,
.pagination-button{
    /* float: left; */
  font-size: 1.1rem;
  background-color: transparent;
  
  border: 1px solid brown;
  margin: 0.25rem 0.25rem;
  cursor: pointer;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: .2rem;
}

.pagination-number:hover,
.pagination-button:not(.disabled):hover {
  background: #fff;
}

.pagination-number.active {
  color: #fff;
  background: #0085b6;
}

.pagination-words,
.pagination-button{
 float:center; 
  font-size: 1.1rem;
  background-color: transparent;
  
  margin: 0.25rem 0.25rem;
  cursor: pointer;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: .2rem;
}

.pagination-words:hover,
.pagination-button:not(.disabled):hover {
  background: #fff;
}

.pagination-words.active {
  color: #fff;
  background: #0085b6;
}
#pagination-words{
  bottom:0% ;

}
.pagination-container1 {
  width:50%;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 100px;
  left: 395px;
  padding: 1rem 0;
  justify-content: center;
}




